<%- include('partials/header'); -%>

<header>
  <div >
    <h2>To do list</h2>
    <% if (data) { %>
      
      <div><% data.forEach(function(task){ %>
        <table style="width: 100%; margin-top: 10px; text-align: center;">
          <tr>
            <th>Title</th>
            <th>Description</th>
          </tr>
          <tr>
            <td> <%- task.title %></td>
            <td><%- task.description %></td>
          </tr>
        </table>
        <a href="/edit/<%- task._id %>">Edit</a>
        <a href="/delete/<%- task._id %>">Delete</a>
          <% }); %></div>
        </div>
    <% } 
    else { %>
      <p> No tasks, please create one </p>
      <% } %>
      
    </div>
    <div>
    </div>
    <a href="/tasks" class="btn">Create a new task</a>
</header>




<%- include('partials/footer'); -%>